
*.xcworkspacedata

*.xcuserstate

*.xcexplist

*.xcbkptlist

*.xcscheme

BottomUp_Local.xcodeproj/xcuserdata/seanrpurser-haskell.xcuserdatad/xcschemes/xcschememanagement.plist

BottomUp_Local.xcodeproj/project.xcworkspace/xcshareddata/BottomUp_Local.xccheckout
